.contanerT{
    border-radius: 8px;
    padding: 40px 16px 40px 16px;
    background-color: #FFFFFF;
    margin: 20px;
}
.cont select{
    height: 40px;
}

.cont input{
    height: 40px;
}
.cont button{
    width: 120px;
}