.contanerT{
    border-radius: 8px;
    padding: 40px 16px 40px 16px;
    background-color: #FFFFFF;
    margin: 20px;
}
.cont select{
    height: 40px;
}

.cont input{
    height: 40px;
}
.cont button {
    width: 120px;
}
.mahcolor::placeholder{
    color: red;
}
#maxNomi::placeholder{
    color: red;
}
#shtrixKod::placeholder{
    color: red;
}
#miqdor::placeholder{
    color: red;
}
#bazalar::placeholder{
    color: red;
}
#soliqszNarx::placeholder{
    color: red;
}
#soliqszNarx2::placeholder{
    color: red;
}
#foy::placeholder{
    color: red;
}
#sotishNarxi::placeholder{
    color: red;
}
#sotibOlishNarxi::placeholder{
    color: red;
}