.rowStyle{
       justify-content: space-between;
       border-radius: 8px;
       padding: 20px 30px 20px 30px;
       /*box-shadow: 0px 10px 20px grey;*/
       background-color: #FFFF;
}
.rowStyle .export{
       display: flex;
       justify-content: space-between;
       padding-top: 30px;
}
.rowStyle .export .fayl .btnFaylKiritish{
       height: 36px;
       width: 200px;
       border-radius: 4px;
       border: 1px solid #6b6363a0;
       margin-left: 4px;
       background-color: #f3efef;
}
.rowStyle .export .fayl .btnFaylKiritish:hover{
       background-color: rgb(202, 202, 202);
}
.rowStyle .btnQoshish{
       padding-top: 62px;
       display: flex;
       justify-content: space-between;
       border-radius: 16px;
}
.rowStyle .btnTasdiqlash{
       display: flex;
       justify-content: end;
       padding-top: 10px;
}

.textHeader{
       display: flex;
       align-items: baseline;
}
.textHeader h2{
       margin-right: 10px;
       font-size: 24px;

}

.rowStyle .qoshish{
       display: flex;
       justify-content: space-between;
       border-radius: 16px;
}
.rowStyle .export .fayl{
       display: flex;
}
.rowStyle .izlash{
       display: flex;
       margin-top: 32px;
       
}

.rowStyle .izlash p{
       text-align: center;
}
.rowStyle .izlash select{
       height: 28px;
       border-radius: 4px;
       border: 1px solid #6b6363a0;
       margin-left: 4px;
}
.rowStyle .izlash button:hover{
       cursor: pointer;
       background-color: #e0dddd;
}
.rowStyle .izlash button{
       height: 28px;
       border-radius: 4px;
       border: 1px solid #6b6363a0;
       margin-left: 4px;
       background-color: #f3efef;
       font-size: 11px;
}
.rowStyle .izlash button img{
       width: 16px;
}

.rowStyle .izlash input{
       height: 28px;
       border-radius: 4px;
       border: 1px solid #6b6363a0;
       background-color: #FFFF;
       padding: 8px 0px 8px 12px;
       margin-left: 24px;
}
.table tbody tr td .taxrirlash{
       background-color: #0A58CA;
       color: #FFFF;
       border-radius: 4px;
       border: none;
       margin-right: 8px;
       font-size: 12px;
       padding: 2px;
}
.table tbody tr td .taxrirlash:hover{
       background-color: #0947a5;
}
.table tbody tr td .korish{
       background-color: #10e7d9;
       color: #FFFF;
       border-radius: 4px;
       border: none;
       margin-right: 8px;
       font-size: 12px;
       padding: 2px;
}
.table tbody tr td .korish:hover{
       background-color: #0cd3c6;
}
.table tbody tr td .ochirish{
       background-color: red;
       color: #FFFF;
       border-radius: 4px;
       border: none;
       margin-right: 8px; 
       font-size: 12px;
       padding: 2px;
}
.table tbody tr td .amallar{
       background-color: rgb(10, 121, 138);
       color: #FFFF;
       border-radius: 4px;
       border: none;
       margin-right: 8px; 
       font-size: 12px;
       padding: 2px;
}
.table tbody tr td .ochirish:hover{
       background-color: rgb(216, 25, 25);
}
.table tbody tr td button img{
       width: 18px;
       margin-bottom: 2px;
}
.rowStyle .sahifalar{
       display: flex;
       justify-content: end;
}
.rowStyle .sahifalar :first-child{
       border-radius: 4px 0px 0px 4px;
       border: 1px solid #6b6363a0;
}
.rowStyle .sahifalar button{
       border: 1px solid #6b6363a0;
       background-color: #FFFF;
       color:#1f1c1ca0;
}
.sahifalar :last-child{
     border-radius: 0px 4px 4px 0px;
     
}