.rowStyleMax{
       border-radius: 8px;
       padding: 20px 30px 20px 30px;
       /*box-shadow: 0px 2px 5px grey;*/
}

.textHeaderMax{
       display: flex;
       align-items: baseline;
}
.rowStyleMax .block{
       display: grid;
       grid-template-columns: 30% 30% 30%;
       justify-content: center;
}

.rowStyleMax .qoshish{
       margin-bottom: 28px;
}
.rowStyleMax .block .box .chescbox{
       display: flex;
       align-items: center;
       text-align: center;
}
.rowStyleMax .block .box select{
       width: 90%;
       height: 32px;
       margin-bottom: 20px;
       background-color:#F5F5F7;
}

.rowStyleMax select:hover{
       cursor: pointer;
}
.rowStyleMax .chescbox input{
    width: 16px;   
    height: 16px;
    margin-right: 10px;
}
.rowStyleMax .chescbox input:hover{
       cursor: pointer;
}
.rowStyleMax .chescbox h6{
       margin: 0px;
}
.rowStyleMax .bynBarchMax{
       margin-top: 46px;
}
@media (max-width: 425.9px){
       .textHeaderMax{
              display: block;
       }
       .rowStyleMax .block{
              display: grid;
              grid-template-columns: 100%;
              justify-content: center;
       }
}
@media (min-width:426px) and (max-width: 766px){
       .rowStyleMax{
              display: block;
       }
       .rowStyleMax .block{
              display: grid;
              grid-template-columns: 100%;
              justify-content: center;
       }
       
}