.headerthird{
    background: #d8dce7;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-out;

}
.headerthird-active{
    background: #0044FF;
    width: calc(100% - 250px);
    transition: all 0.2s ease-out;
}
.classheader1{
    /* padding: 0 2rem ; */
}
.classheader2{
    /* padding: 0 0.5rem; */
}
.home-header{
    display: flex;
}
.home-sidebar{
    width: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;

}
.home-sidebar-active{
    width: 250px;
    transition: all 0.2s ease-out;
}
