.savdoOynaContainers{
    /* background-color: gray; */
    margin: 24px 12px;
    padding: 0px;
    border-radius: 0px;

}
.savdoOynaContainers .savdoNavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 16px 32px;
    margin-bottom: 6px;

}
.savdoOynaContainers .savdoNavbar .navbarLeft h5{
    text-align: center;
    margin: 0px;
}
.savdoOynaContainers .savdoNavbar .navbarRigth{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 332px;

}
.savdoOynaContainers .savdoNavbar .navbarRigth img{
    width: 18px;
    height: 20px;
    cursor: pointer;
}
.savdoOynaContainers .savdoNavbar .navbarRigth button{
    width: 136px;
    height: 32px;
    padding: 0px 16px;
    background-color: #FFFFFF;
    border: 1px solid #9FA2B4;
    box-sizing: border-box;
    border-radius: 8px;
    color: #9FA2B4;
}
.savdoOynaContainers .savdoBlock{
    padding: 6px; 
    display: flex;
    justify-content: space-between;
}
.savdoOynaContainers .savdoBlock .savdoBlockLeft {
    background: #FFFFFF;
    border: 1px solid rgba(159, 162, 180, 0.25);
    border-radius: 20px;
    padding: 24px 20px;
    width: 49%;
    height: 524px;
} 
.savdoOynaContainers .savdoBlock .savdoBlockLeft .selectBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}
.savdoOynaContainers .savdoBlock .savdoBlockLeft .selectBox select{
    background: #FFFFFF;
    border: 1px solid #9FA2B4;
    box-sizing: border-box;
    border-radius: 6px;
    color: #9FA2B4;
    height: 32px;
}
.savdoOynaContainers .savdoBlock .savdoBlockLeft .selectBox input{
    background: #FFFFFF;
    width: 50%;
    padding-left: 4px;
    border: 1px solid #9FA2B4;
    box-sizing: border-box;
    border-radius: 6px;
    color: #9FA2B4;
    height: 32px;
}
.savdoOynaContainers .savdoBlock .savdoBlockLeft .maxSoniBox{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
   
}
.savdoOynaContainers .savdoBlock .savdoBlockLeft .chegirmalarBox{
    display: flex;
    justify-content: space-between;
}

.tbodyY{
    height: 320px;
    overflow-y: scroll;
    /* position: relative; */
}
.tbodyY thead{
    position: sticky;
    top: 0px;
    background-color: white;
}
.savdoOynaContainers .savdoBlock .savdoBlockRigth{
    background: #FFFFFF;
    border: 1px solid rgba(159, 162, 180, 0.25);
    border-radius: 20px;
    padding: 24px 20px;
    width: 49%;
    height: 524px;
}
.savdoOynaContainers .savdoBlock .savdoBlockRigth .bazaBox select{
    background-color: #FFFFFF;
    border: 1px solid #9FA2B4;
    box-sizing: border-box;
    border-radius: 6px;
    color: #9FA2B4;
    height: 32px;
}
.savdoOynaContainers .savdoBlock .savdoBlockRigth .maxsulotImgBlock{
    margin-top: 36px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    height: 320px;
    
}
.savdoOynaContainers .savdoBlock .savBtnBox{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-bottom: 16px;
}

.savdoOynaContainers .savBtnBox .jamiTolov{
    background-color: #FFFFFF;
    width: 200px;
    height: 36px;
    border: 1px solid rgba(159, 162, 180, 0.5);
    border-radius: 4px;
}
.savdoOynaContainers .savdoBlock .savdoBlockRigth .maxsulotImgBlock .maxsuImgBox{
    width: 140px;
}
.savdoOynaContainers .savdoBlock .savdoBlockRigth .maxsulotImgBlock .maxsuImgBox img{
    width: 100px;
    height: 70px;
    margin: 4px 24px;
}


.savdoOynaContainers .savdoBlock .savdoBlockRigth .maxsulotImgBlock .maxsuImgBox h6{
    /* overflow: hidden; */
    margin: 0px 4px;
    text-align: center;
    font-size: 12px;
    
}
.savdoOynaContainers .savdoBlock .savdoBlockRigth .maxsulotImgBlock .maxsuImgBox p{
    text-align: center;
    font-size: 12px;
}

.ddd{
    cursor: pointer;
}
.bbb{
    position: absolute;
    top: 63%;
    left: 70%;
}







/* .colorbackj .navBlock .navBox1{
    display: flex;
    align-items: center;
}
.colorbackj .block2{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.colorbackj .chegirmaBox{
    display: flex;
    justify-content: space-around;
}
.colorbackj .btnBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

 */
