.row .col-md-12 .text{
    text-align: center;
    margin-top: 25%;
}
.row .col-md-12 .text p{
    margin-top: 5%;
}
.switch{
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: 60px;
    height: 32px;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 3px 30px 3px 3px;
    cursor: pointer;
    transition: 0.5s linear;
}
#switch{
    display: none;
}
#switch[type=checkbox]:checked + .switch{
    transition: 0.5s linear;
        padding: 3px 3px 3px 30px;
}
.switch span{
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0044FF;
}
.row .col-md-12 .active{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px 40px 0px;
}
.row .col-md-12 .active .activSelect{
    display: flex;
    align-items: center;
}
.row .col-md-12 .active .activSelect p{
}
.row .col-md-12 .active .activSelect .p1{
    margin: 0px;
}
.row .col-md-12 .active .activSelect .p2{
    margin: 0px;
}
.row .c1{
    width: 30%;
}
.row .c2{
    width: 30%;
    margin-top: -12%;
}
.row .c3{
    width: 30%;
}
.row .f{
    display: flex;
    justify-content: center;
    margin-top: 12%;

}
.row .f .fBox{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.secondpage .back{
    width: 100%;
    height: 70vh;
    background: #0044FF;
    margin-top: -28%;
    background-color: #0044FF;
    color: red;
}

@media (max-width: 425.9px){
    .row .f .fBox{
        display: block;
    }
    .row .c1{
        width: 100%;
        margin-bottom: 30px;
    }
    .row .c2{
        width: 100%;
    }
    .row .c3{
        width: 100%;
    }
    .secondpage .back{
        height: 24vh;
    }


}

@media (min-width: 426px) and (max-width: 768.9px){
   
    .secondpage .row .f .fBox{
        display: block;
    }
    .secondpage .row .c1{
        width: 100%;
        margin-bottom: 48px;
    }
    .secondpage .row .c2{
        width: 100%;
    }
    .secondpage .row .c3{
        width: 100%;
    }
    .secondpage .back{
        height: 50vh;
    }

}
@media (min-width: 769px) and (max-width: 1024.9px){
    .secondpage .row .f{
        width: 90%;
        margin: 0 auto;
    }
    .secondpage .row .f .fBox{
        width: 100%;
    }
    .secondpage .row .c1{
        width: 29%;
    }
    .secondpage .row .c2{
        width: 29%;
    }
    .secondpage .row .c3{
        width: 29%;
    }
    .secondpage .back{
        height: 60vh;
    }

}

