.rowStyleXRT{
    justify-content: space-between;
    border-radius: 8px;
    padding: 20px 30px 20px 30px;
    /*box-shadow: 0px 10px 20px grey;*/
    background-color: #FFFFFF;
}

.textHeaderXRT{
    display: flex;
    align-items: baseline;
}
.textHeaderXRT h2{
    margin-right: 10px;
    font-size: 24px;

}

.rowStyleXRT .qoshish{
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
}
.rowStyleXRT .izlashXRT{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    
}
.rowStyleXRT .izlashXRT .izlashBox1{
    display: flex;
}

.rowStyleXRT .izlashXRT p{
    text-align: center;
}
.rowStyleXRT .izlashXRT select{
    height: 28px;
    border-radius: 4px;
    border: 1px solid #6b6363a0;
    margin-left: 4px;
}
.rowStyleXRT .izlashXRT button:hover{
    cursor: pointer;
    background-color: #e0dddd;
}
.rowStyleXRT .izlashXRT button{
    height: 28px;
    border-radius: 4px;
    border: 1px solid #6b6363a0;
    margin-left: 4px;
    background-color: #f3efef;
    font-size: 11px;
}
.rowStyleXRT .izlashXRT button img{
    width: 16px;
}

.rowStyleXRT .izlashXRT input{
    height: 28px;
    border-radius: 4px;
    border: 1px solid #6b6363a0;
    background-color: #FFFF;
    padding: 8px 0px 8px 12px;
    margin-left: 24px;
}
.table tbody tr td .taxrirlash{
    background-color: #0A58CA;
    color: #FFFF;
    border-radius: 4px;
    border: none;
    margin-right: 8px;
    font-size: 12px;
    padding: 2px;
}
.table tbody tr td .taxrirlash:hover{
    background-color: #0947a5;
}
.table tbody tr td .korish{
    background-color: #10e7d9;
    color: #FFFF;
    border-radius: 4px;
    border: none;
    margin-right: 8px;
    font-size: 12px;
    padding: 2px;
}
.table tbody tr td .korish:hover{
    background-color: #0cd3c6;
}
.table tbody tr td .ochirish{
    background-color: red;
    color: #FFFF;
    border-radius: 4px;
    border: none;
    margin-right: 8px; 
    font-size: 12px;
    padding: 2px;
}
.table tbody tr td .amallar{
    background-color: rgb(10, 121, 138);
    color: #FFFF;
    border-radius: 4px;
    border: none;
    margin-right: 8px; 
    font-size: 12px;
    padding: 2px;
}
.table tbody tr td .ochirish:hover{
    background-color: rgb(216, 25, 25);
}
.table tbody tr td button img{
    width: 18px;
    margin-bottom: 2px;
}
.rowStyleXRT .sahifalar{
    display: flex;
    justify-content: end;
}
.rowStyleXRT .sahifalar :first-child{
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #6b6363a0;
}
.rowStyleXRT .sahifalar button{
    border: 1px solid #6b6363a0;
    background-color: #FFFF;
    color:#1f1c1ca0;
}
.sahifalar :last-child{
  border-radius: 0px 4px 4px 0px;
  
}
@media (max-width: 425.9px){
    .textHeaderXRT{
           display: block;
    }
    .rowStyleXRT .qoshish h5{
            font-size: 17px;
     }
     .rowStyleXRT .izlashXRT{
            display: block;
     }
     .rowStyleXRT .izlashXRT .izlashBox1{
            display: grid;
            justify-content: center;
            grid-template-columns: 110px 110px;
            text-align: center;
     }
     .rowStyleXRT .izlashXRT .izlashBox2{
            display: flex;
            justify-content: center;
     }
     .rowStyleXRT .izlashXRT .izlashBox2 input{
            width: 60%;
            margin: 8px 0px 0px 4px;

     }
     .rowStyleXRT .izlashXRT .izlashBox1 select{
            margin-bottom: 8px;
     }
     .rowStyleXRT .izlashXRT .izlashBox1 button{
            line-height: 4px;
            font-size: 10px;
            margin-bottom: 8px;
     }
     .rowStyleXRT p{
            font-size: 12px;
            line-height: 12px;
     }
     .rowStyleXRT .qoshish h5{
            font-size: 17px;
     }
     .rowStyleXRT .izlashXRT{
            display: block;
     }
     .rowStyleXRT .izlashXRT .izlashBox1{
            display: grid;
            justify-content: center;
            grid-template-columns: 110px 110px;
            text-align: center;
     }
     .rowStyleXRT .izlashXRT .izlashBox2{
            display: flex;
            justify-content: center;
     }
     .rowStyleXRT .izlashXRT .izlashBox2 input{
            width: 60%;
            margin: 8px 0px 0px 4px;

     }
     .rowStyleXRT .izlashXRT .izlashBox1 select{
            margin-bottom: 8px;
     }
     .rowStyleXRT .izlashXRT .izlashBox1 button{
            line-height: 4px;
            font-size: 10px;
            margin-bottom: 8px;
     }
     .rowStyleXRT p{
            font-size: 12px;
            line-height: 12px;
     }
     
}

@media (min-width: 426px) and (max-width: 768.9px){
     .rowStyleXRT .izlashXRT{
            display: block;
     }
     .rowStyleXRT .izlashXRT .izlashBox1{
            display: grid;
            justify-content: center;
            grid-template-columns: 33% 33% 33%;
            text-align: center;
     }
     .rowStyleXRT .izlashXRT .izlashBox2{
            display: flex;
            justify-content: center;
     }
     .rowStyleXRT .izlashXRT .izlashBox2 input{
            width: 70%;
            margin: 8px 0px 0px 4px;

     }
     .rowStyleXRT .izlashXRT .izlashBox1 button{
            line-height: 4px;
            margin-bottom: 8px;
     }
}
@media (min-width: 769px) and (max-width: 1024.9px){
     .rowStyleXRT .izlashXRT .izlashBox1{
            display: grid;
            grid-template-columns:36% 36% 36% ;
     }
     .rowStyleXRT .izlashXRT .izlashBox1 button{
            line-height: 4px;
            margin-bottom: 8px;
     }
       
}
@media (min-width: 1025px) and (max-width: 1199.9px){
     .rowStyleXRT .izlashXRT .izlashBox1 button{
            line-height: 4px;
     }
}