.bottom p{
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #EBF2F8;
    width: 100%;
    height: 96px;
    margin-top: 200px;
}
