#home{
    position: relative;
}
.displaynone{
    display: none;
}
.displayflex{
    display: block;
}
.home-body{
    width: 100%;
    display: flex;
    align-items: center;
}
.input{
    position: relative;
}
.input img{
    position: absolute;
    top: 30%;
    right: 5%;
    cursor: pointer;
}
.home-body .homeContainer .home-img{
    padding: 96px 40px 0px 135px;
    width: 50%;
}
.home-img .homeContainer img{
    margin-bottom: 32px;
}
.home-text h4{
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 16px;
    color: #000000;

}
.home-text p{
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}
.home-body .homeContainer .home-enter{
    padding: 0px 134px 0 89px;
    width: 50%;
}
.home-body .homeContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
}
.kirish-text h5{
    font-family: "Montserrat" ,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    margin-top: 100px;
}
.kirish-text p{
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.kirish-input input[type='text'] , .kirish-input input[type='password']{
    background: #FFFFFF;
    border: 1px solid #A1AFCA;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 16px;
}
.kirish-input input::placeholder{
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #A1AFCA;
}

.kirish-input button{
    background: #0044FF;
    border-radius: 8px;
    padding: 16px 100px;
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.kirish-checkbox{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.kirish-checkbox .login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.kirish-checkbox input[type=checkbox]{
  display: none;
}
.kirish-checkbox input[type=checkbox]:checked + label svg{
    fill: #0044ff;
    stroke: #0044FF;
    border: 0;
}

.kirish-checkbox label{
    margin-left: 2px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.kirish-checkbox label  svg{
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 8px;
    fill: #FFFFFF;
    border: 2px solid #A1AFCA;
}
.kirish-checkbox label  svg path{
    width: 100%;
}


.kirish-checkbox h4{
    margin-top: 10px;
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #A1AFCA;
}
.kirish-checkbox a{
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #0044FF;
}
.home-active{
    position: relative;
    z-index: 2;
}
.error{
    margin: -20px 0 0 0;
    text-align: center;
    padding: 0;
    display: block;
    color: red;
    font-size: 14px;
}
@media (max-width: 425.9px) {
    .home-body .homeContainer{
        display: block;
    }
    .home-body .homeContainer .home-img{
        width: 100%;
        padding: 80px 16px 0px 16px;
    }
    .home-body .homeContainer .home-img .homeContainer{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .home-body .homeContainer .home-img img{
        width: 100%;
    }
    .home-body .homeContainer .home-enter{
        width: 100%;
        padding: 0px;
    }
    .home-body .homeContainer .home-img .home-text{
        margin-top: 20px;
    }
    .home-body .homeContainer .home-img .home-text h4{
        font-size: 24px;
        line-height: 16px;
    }
    .home-body .homeContainer .home-img .home-text p{
        font-size: 12px;
        line-height: 16px;
        margin: 0px;
    }
    .home-body .homeContainer .home-enter{
        padding: 0px 16px 0px 16px;
    }

    .home-body .homeContainer .home-enter .kirish-text h5{
        font-size: 20px;
        line-height: 16px;
    }
    .home-body .homeContainer .home-enter .kirish-text .p{
        font-size: 12px;
        line-height: 16px;
    }
    .home-body .homeContainer .home-enter .kirish-input .login{
        height: 20px;
    }
    .home-body .homeContainer .home-enter .kirish-input .kirish-checkbox svg{
        width: 16px;
        height: 16px;
        border-radius: 4px;
    }
    .home-body .homeContainer .home-enter .kirish-input .kirish-checkbox svg:hover{
        cursor: pointer;
    }
    .home-body .homeContainer .home-enter .kirish-input .kirish-checkbox .login h4{
        font-size: 12px;
    }
    .home-body .homeContainer .home-enter .kirish-input .kirish-checkbox .login a{
        font-size: 12px;
    }
    .home-body .homeContainer .home-enter .kirish-input .input .pasword{
        height: 20px;
    }
    .home-body .homeContainer .home-enter .kirish-input .input img{
        width: 16px;
    } 
    .home-body .homeContainer .home-enter .kirish-input .kirish{
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        
}



@media (min-width: 426px) and (max-width: 768.9px){
    .home-body .homeContainer .home-img{
        padding: 96px 30px 0px 4%;
    }
    .home-body .homeContainer .home-img .imgContainer img{
        width: 100%;
    }
    .home-body .homeContainer .home-img .home-text h4{
        font-size: 24px;
        line-height: 32px;
        margin-top: 10px;
    }
    .home-body .homeContainer .home-img .home-text p{
        font-size: 12px;
        line-height: 16px;
    }
    .home-body .homeContainer .home-enter{
        padding: 12px 4% 0px 30px;
    }
    .home-body .homeContainer .home-enter .kirish-text h5{
        font-size: 20px;
    }
    .home-body .homeContainer .home-enter .kirish-text p{
        font-size: 12px;
        line-height: 16px;
    }
    .home-enter .kirish-input .login{
        height: 20px;
    }
    .home-enter .kirish-input .pasword{
        height: 20px;
    }
    .home-enter .kirish-input img{
        height: 16px;
    }
    .home-enter .kirish-input .kirish-checkbox svg{
        width: 20px;
        height: 20px;
    }
    .home-enter .kirish-input .kirish-checkbox .login h4{
        font-size: 12px;
        line-height: 14px;
    }
    .home-enter .kirish-input .kirish-checkbox .login a{
        font-size: 12px;
        line-height: 14px;
    }
    .home-enter .kirish-input button{
        padding: 4px;
    }
   
}


@media (min-width: 769px) and (max-width: 1024.9px){
    .home-body .homeContainer .home-img{
        padding: 96px 30px 0px 5%;
    }
    .home-body .homeContainer .home-img .imgContainer img{
        width: 100%;
    }
    .home-body .homeContainer .home-img .home-text h4{
        font-size: 24px;
        line-height: 32px;
        margin-top: 10px;
    }
    .home-body .homeContainer .home-img .home-text p{
        font-size: 12px;
        line-height: 16px;
    }
    .home-body .homeContainer .home-enter{
        padding: 12px 5% 0px 30px;
    }
    .home-body .homeContainer .home-enter .kirish-text h5{
        font-size: 20px;
    }
    .home-body .homeContainer .home-enter .kirish-text p{
        font-size: 12px;
        line-height: 16px;
    }
    .home-enter .kirish-input img{
        height: 16px;
    }
    .home-enter .kirish-input .kirish-checkbox svg{
        width: 20px;
        height: 20px;
    }
    .home-enter .kirish-input .kirish-checkbox .login h4{
        font-size: 12px;
        line-height: 14px;
    }
    .home-enter .kirish-input .kirish-checkbox .login a{
        font-size: 12px;
        line-height: 14px;
    }
   
}

@media (min-width: 1025px) and (max-width: 1199.9px){
    .home-enter .kirish-input .kirish-checkbox svg{
        width: 20px;
        height: 20px;
    }
    .home-enter .kirish-input .kirish-checkbox .login h4{
        font-size: 14px;
        line-height: 14px;
    }
    .home-enter .kirish-input .kirish-checkbox .login a{
        font-size: 14px;
        line-height: 14px;
    }
}

