.list .imgDiv{
    display: flex;
    margin-left: 0;
    margin-top: 15px;
    align-items: center;
}
.list h6{
    margin-left: 10px;
    cursor: pointer;
    transition: 0.2s linear;
}
.list h6:hover{
    margin-left: 10px;
    cursor: pointer;
    /*border-bottom: 2px solid gray;*/
    color: #0044FF;
}
.list .bazaImg{
    cursor: pointer;
    width: 24px;
    height: 24px;
}
.list ul li{
    margin-top: 5px;
}
.list ul{
    display: block;
    margin-left: 15%;
}
.list .bazaLink{
    color: #3f3c3c;
    text-decoration: none;
}
.baza2{
    height: 120px;
    transition: 0.3s ease;
}
