.rowStylePageS{
    border-radius: 8px;
    padding: 20px 30px 20px 30px;
    box-shadow: 0px 10px 20px grey;
    background-color: #FFFF;
}

.textHeader{
    display: flex;
    align-items: baseline;
}
.textHeader h2{
    margin-right: 10px;
    font-size: 24px;

}

.rowStylePageS .izlashPageS{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    
}
.rowStylePageS .izlashPageS .izlashBox1{
    display: flex;
}

.rowStylePageS .izlashPageS p{
    text-align: center;
}
.rowStylePageS .izlashPageS select{
    height: 28px;
    border-radius: 4px;
    border: 1px solid #6b6363a0;
    margin-left: 4px;
}
.rowStylePageS .izlashPageS button:hover{
    cursor: pointer;
    background-color: #e0dddd;
}
.rowStylePageS .izlashPageS button{
    height: 28px;
    border-radius: 4px;
    border: 1px solid #6b6363a0;
    margin-left: 4px;
    background-color: #f3efef;
    font-size: 11px;
}
.rowStylePageS .izlashPageS button img{
    width: 16px;
}

.rowStylePageS .izlashPageS input{
    height: 28px;
    border-radius: 4px;
    border: 1px solid #6b6363a0;
    background-color: #FFFF;
    padding: 8px 0px 8px 12px;
    margin-left: 24px;
}

.rowStylePageS .sahifalar{
    display: flex;
    justify-content: end;
}
.rowStylePageS .sahifalar :first-child{
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #6b6363a0;
}
.rowStylePageS .sahifalar button{
    border: 1px solid #6b6363a0;
    background-color: #FFFF;
    color:#1f1c1ca0;
}
.sahifalar :last-child{
  border-radius: 0px 4px 4px 0px;
  
}

@media (max-width: 425.9px){
    .rowStylePageS .qoshishPageS .sarlavha{
            font-size: 14px;
     }
     .rowStylePageS .izlashPageS{
            display: block;
     }
     .rowStylePageS .izlashPageS .izlashBox1{
            display: grid;
            justify-content: center;
            grid-template-columns: 110px 110px;
            text-align: center;
     }
     .rowStylePageS .izlashPageS .izlashBox2{
            display: flex;
            justify-content: center;
     }
     .rowStylePageS .izlashPageS .izlashBox2 input{
            width: 60%;
            margin: 8px 0px 0px 4px;

     }
     .rowStylePageS .izlashPageS .izlashBox1 select{
            margin-bottom: 8px;
     }
     .rowStylePageS .izlashPageS .izlashBox1 button{
            line-height: 4px;
            font-size: 10px;
            margin-bottom: 8px;
     }
     .rowStylePageS p{
            font-size: 12px;
            line-height: 12px;
     }
     .rowStylePageS .qoshishPageS h5{
            font-size: 17px;
     }
     .rowStylePageS .izlashPageS{
            display: block;
     }
     .rowStylePageS .izlashPageS .izlashBox1{
            display: grid;
            justify-content: center;
            grid-template-columns: 110px 110px;
            text-align: center;
     }
     .rowStylePageS .izlashPageS .izlashBox2{
            display: flex;
            justify-content: center;
     }
     .rowStylePageS .izlashPageS .izlashBox2 input{
            width: 60%;
            margin: 8px 0px 0px 4px;

     }
     .rowStylePageS .izlashPageS .izlashBox1 select{
            margin-bottom: 8px;
     }
     .rowStylePageS .izlashPageS .izlashBox1 button{
            line-height: 4px;
            font-size: 10px;
            margin-bottom: 8px;
     }
     .rowStylePageS p{
            font-size: 12px;
            line-height: 12px;
     }
     
}

@media (min-width: 426px) and (max-width: 768.9px){
     .rowStylePageS .izlashPageS{
            display: block;
     }
     .rowStylePageS .izlashPageS .izlashBox1{
            display: grid;
            justify-content: center;
            grid-template-columns: 33% 33% 33%;
            text-align: center;
     }
     .rowStylePageS .qoshishPageS .sarlavha{
           font-size: 15px;
    }
     .rowStylePageS .izlashPageS .izlashBox2{
            display: flex;
            justify-content: center;
     }
     .rowStylePageS .izlashPageS .izlashBox2 input{
            width: 70%;
            margin: 8px 0px 0px 4px;

     }
     .rowStylePageS .izlashPageS .izlashBox1 button{
            line-height: 4px;
            margin-bottom: 8px;
     }
}
@media (min-width: 769px) and (max-width: 1024.9px){
     .rowStylePageS .izlashPageS .izlashBox1{
            display: grid;
            grid-template-columns:25% 25% 25% 25% ;
     }
     .rowStylePageS .izlashPageS .izlashBox1 button{
            line-height: 4px;
            margin-bottom: 8px;
     }
       
}
@media (min-width: 1025px) and (max-width: 1199.9px){
     .rowStylePageS .izlashPageS .izlashBox1 button{
            line-height: 4px;
     }
}
