.sidebar{
    background: #ffffff;
    margin-top: 1%;
    transition: 1s linear;
    cursor: pointer;
    height: 100%;
    object-fit: cover;
}
.sidebar2{
    transition: 1s linear;
    transform: translateX(0);
}
.sidebar ul li{
    transition: all 0.3s linear;
    width: 100%;
}
.sidebar ul li:hover{
    width: 100%;
    font-size: 18px;
}

.sidehead img{
    width: 70%;
}
.sidebar .sidehead{
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.sidebar .sidehead h5{
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}
.imgDiv{
    display: flex;
    justify-content: space-between;
}
.sidebar-text{
    margin-left: 10px;
    margin-top: 7px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #3A3C40;
}
.imgDiv:hover .sidebar-text{
    color: #0044FF;

}
.imgDiv:checked img{
    transform: rotate(180deg);
}
.imgDiv:hover .sidebar-img path{
    stroke: #0044FF;
}
.sidebar-img path{
    stroke:#3A3C40;
}
.sidebar-img2 path{
    fill: #3A3C40;
}
.imgDiv:hover .sidebar-img2 path{
    fill: #0044FF;
}

.sidebar .bosh{
    cursor: pointer;
    display: flex;
    margin-top: 44px;
    align-items: center;
}
.sidehead{
    cursor: pointer;
}
::-webkit-scrollbar{
    width: 5px;
}::-webkit-scrollbar:hover{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #ffffff;
}
::-webkit-scrollbar-thumb{
    border-radius: 8px;
    border: 5px solid #0044FF;
}
.fill path{
    fill: #0044FF;
}
.fontsize{
    font-size: 17px;
    font-weight: 700;
}
.stroke path{
    stroke: #0044FF;
}
li{
    list-style: disc;
    margin-top: 5px;
}


@media screen  and  (max-width: 425.9px){
        .sidebar{
            width: calc(100%  + 70px) !important;
        }
        .media2{
            display: none;
        }
        .media{
            display: block;
        }

}
@media (min-width: 426px)  and  (max-width: 500.9px){
        .sidebar{
            width: calc(100%  + 70px) !important;
        }


}
@media (min-width: 501px)  and  (max-width: 767.9px){
        .sidebar{
            width: calc(100%  + 70px) !important;
        }
        .sidebar-text{
            font-size: 20px;
        }

}
@media (min-width: 768px)  and  (max-width: 1023.9px){
   .homepage1 .sidebar-text{
       font-size: 12px;
   }
    .homepageone .sidebar-text{
        font-size: 12px;
    }
}
@media (min-width: 1024px)  and  (max-width: 1280.9px){
   .homepage1 .sidebar-text{
       font-size: 14px;
   }
    .homepageone .sidebar-text{
        font-size: 14px;
    }
    .li-text{
        font-size: 14px !important;
        transition: 0.5s;
    }
    .li-text:hover{
        font-size: 15px !important;
        color: #0044FF;
        border: 1px dot-dash #0044FF;
    }
}