.mahBaza .imgDiv{
    display: flex;
    margin-left: 0;
    margin-top: 15px;
    align-items: center;
}
.mahBaza h6{
    margin-left: 10px;
    cursor: pointer;
    transition: 0.2s linear;
}
.mahBaza h6:hover{
    margin-left: 10px;
    cursor: pointer;
    /*border-bottom: 2px solid gray;*/
    color: #0044FF;
}
.mahBaza .mahsulotImg{
    cursor: pointer;
}
.mahBaza ul li{
    margin-top: 5px;
}
.mahBaza ul{
    display: block;
    margin-left: 15%;
}
.mahBaza .malumotBazaLink{
    color: #3f3c3c;
    text-decoration: none;
}