.hamkor .imgDiv{
    display: flex;
    margin-left: 0;
    margin-top: 15px;
    align-items: center;
}
.hamkor h6{
    margin-left: 10px;
    cursor: pointer;
    transition: 0.2s linear;
}
.hamkor h6:hover{
    margin-left: 10px;
    cursor: pointer;
    color: #0044FF;
}
.hamkor .hamkorImg{
    cursor: pointer;
    margin-left: 24%;
}
.hamkor ul li{
    margin-top: 5px;
}
.hamkor ul{
    display: block;
    margin-left: 15%;
}
.hamkor ul li .hamkorlar{
    text-decoration: none;
    color: #3f3c3c;
}