.rowStyleST{
    border-radius: 8px;
    padding: 20px 30px 20px 30px;
    background-color: #FFFFFF;
    /*box-shadow: 0px 10px 20px grey;*/
}
.textHeader{
    display: flex;
    align-items: baseline;
}
.rowStyleST .sana input:hover{
    cursor: pointer;
}
.textHeader h2{
    margin-right: 10px;
    font-size: 24px;
}
.rowStyleST select{
    width: 100%;
    height: 32px;
    background-color:#F5F5F7;
    padding-left: 4px;
    font-size: 14px;
    margin-bottom: 30px;
}
.rowStyleST .qoshish{
    margin-bottom: 28px;
}

.rowStyleST .sana input{
    border: 1px solid grey;
    margin-bottom: 32px;
    width: 100%;
    height: 32px;
    background-color:#F5F5F7;
    padding-left: 4px;
    font-size: 14px;
}
.rowStyleST select:hover{
    cursor: pointer;
}
.rowStyleST2{
    justify-content: space-between;
    border-radius: 8px;
    padding: 20px 30px 20px 30px;
    box-shadow: 0px 10px 20px grey;
    background-color: #FFFFFF;
    margin-top: 32px;
}

.textHeader{
    display: flex;
    align-items: baseline;
}
.textHeader h2{
    margin-right: 10px;
    font-size: 24px;

}

.rowStyleST2 .qoshish{
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
}
.rowStyleST2 .izlashST2{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;

}
.rowStyleST2 .izlashST2 .izlashBox1{
    display: flex;
}

.rowStyleST2 .izlashST2 p{
    text-align: center;
}
.rowStyleST2 .izlashST2 select{
    height: 28px;
    border-radius: 4px;
    border: 1px solid #6b6363a0;
    margin-left: 4px;
}
.rowStyleST2 .izlashST2 button:hover{
    cursor: pointer;
    background-color: #e0dddd;
}
.rowStyleST2 .izlashST2 button{
    height: 28px;
    border-radius: 4px;
    border: 1px solid #6b6363a0;
    margin-left: 4px;
    background-color: #f3efef;
    font-size: 11px;
}
.rowStyleST2 .izlashST2 button img{
    width: 16px;
}

.rowStyleST2 .izlashST2 input{
    height: 28px;
    border-radius: 4px;
    border: 1px solid #6b6363a0;
    background-color: #FFFF;
    padding: 8px 0px 8px 12px;
    margin-left: 24px;
}
.table tbody tr td .taxrirlash{
    background-color: #0A58CA;
    color: #FFFF;
    border-radius: 4px;
    border: none;
    margin-right: 8px;
    font-size: 10px;
    padding: 2px;
}
.table tbody tr td .taxrirlash:hover{
    background-color: #0947a5;
}
.table tbody tr td .korish{
    background-color: #10e7d9;
    color: #FFFF;
    border-radius: 4px;
    border: none;
    margin-right: 8px;
    font-size: 12px;
    padding: 2px;
}

.table tbody tr td .ochirish{
    background-color: red;
    color: #FFFF;
    border-radius: 4px;
    border: none;
    margin-right: 8px;
    font-size: 12px;
    padding: 2px;
}

.table tbody tr td .ochirish:hover{
    background-color: rgb(216, 25, 25);
}
.table tbody tr td button img{
    width: 18px;
    margin-bottom: 2px;
}
.rowStyleST2 .sahifalar{
    display: flex;
    justify-content: end;
}
.rowStyleST2 .sahifalar :first-child{
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #6b6363a0;
}
.rowStyleST2 .sahifalar button{
    border: 1px solid #6b6363a0;
    background-color: #FFFF;
    color:#1f1c1ca0;
}
.sahifalar :last-child{
    border-radius: 0px 4px 4px 0px;

}

@media (max-width: 425.9px){
    .rowStyleST2 .qoshish h5{
            font-size: 17px;
     }
     .rowStyleST2 .izlashST2{
            display: block;
     }
     .rowStyleST2 .izlashST2 .izlashBox1{
            display: grid;
            justify-content: center;
            grid-template-columns: 110px 110px;
            text-align: center;
     }
     .rowStyleST2 .izlashST2 .izlashBox2{
            display: flex;
            justify-content: center;
     }
     .rowStyleST2 .izlashST2 .izlashBox2 input{
            width: 60%;
            margin: 8px 0px 0px 4px;

     }
     .rowStyleST2 .izlashST2 .izlashBox1 select{
            margin-bottom: 8px;
     }
     .rowStyleST2 .izlashST2 .izlashBox1 button{
            line-height: 4px;
            font-size: 10px;
            margin-bottom: 8px;
     }
     .rowStyleST2 p{
            font-size: 12px;
            line-height: 12px;
     }
     .rowStyleST2 .qoshish h5{
            font-size: 17px;
     }
     .rowStyleST2 .izlashST2{
            display: block;
     }
     .rowStyleST2 .izlashST2 .izlashBox1{
            display: grid;
            justify-content: center;
            grid-template-columns: 110px 110px;
            text-align: center;
     }
     .rowStyleST2 .izlashST2 .izlashBox2{
            display: flex;
            justify-content: center;
     }
     .rowStyleST2 .izlashST2 .izlashBox2 input{
            width: 60%;
            margin: 8px 0px 0px 4px;

     }
     .rowStyleST2 .izlashST2 .izlashBox1 select{
            margin-bottom: 8px;
     }
     .rowStyleST2 .izlashST2 .izlashBox1 button{
            line-height: 4px;
            font-size: 10px;
            margin-bottom: 8px;
     }
     .rowStyleST2 p{
            font-size: 12px;
            line-height: 12px;
     }
     
}

@media (min-width: 426px) and (max-width: 768.9px){
     .rowStyleST2 .izlashST2{
            display: block;
     }
     .rowStyleST2 .izlashST2 .izlashBox1{
            display: grid;
            justify-content: center;
            grid-template-columns: 33% 33% 33%;
            text-align: center;
     }
     .rowStyleST2 .izlashST2 .izlashBox2{
            display: flex;
            justify-content: center;
     }
     .rowStyleST2 .izlashST2 .izlashBox2 input{
            width: 70%;
            margin: 8px 0px 0px 4px;

     }
     .rowStyleST2 .izlashST2 .izlashBox1 button{
            line-height: 4px;
            margin-bottom: 8px;
     }
}
@media (min-width: 769px) and (max-width: 1024.9px){
     .rowStyleST2 .izlashST2 .izlashBox1{
            display: grid;
            grid-template-columns:36% 36% 36% ;
     }
     .rowStyleST2 .izlashST2 .izlashBox1 button{
            line-height: 4px;
            margin-bottom: 8px;
     }
       
}
@media (min-width: 1025px) and (max-width: 1199.9px){
     .rowStyleST2 .izlashST2 .izlashBox1 button{
            line-height: 4px;
     }
}
