.mahsulot .imgDiv{
    display: flex;
    margin-left: 0;
    margin-top: 15px;
    align-items: center;
}
.mahsulot h6{
    margin-left: 10px;
    cursor: pointer;
    transition: 0.2s linear;
}
.mahsulot h6:hover{
    margin-left: 10px;
    cursor: pointer;
    color: #0044FF;
}
.mahsulot .xarajatImg{
    cursor: pointer;
    margin-left: 28%;
}
.mahsulot ul li{
    margin-top: 5px;
}
.mahsulot ul{
    display: block;
    margin-left: 15%;
}
.mahsulot .mahsulotXarajat{
    color: #3f3c3c;
    text-decoration: none;
}