:root{
    --color:"aqua"
}

*{

}
body{
    background: silver;
    height: 100%;
}

.app-css{
    width: 100%;
    display: flex;
    transition: 1s linear;
    overflow: hidden;
    height: 100%;
}
.display-none{
    display: none;
}
.homebody{
    width: 100%;
}

.homepage1{
    transition: 1s ease;
    width: 18%;
    }
.homepage2 {
    transition: 1s;
    width: 82%;
    }
.homepageone{
    width: 0;
}
.homepagetwo{
    width: 100%;
}
@media screen and  (max-width: 425.9px){
    .homepage1{
        transition: 1s ease;
        width: 75%;
    }
    .homepage2 {
        transition: 1s;
        transform: translateX(70px);
        width: 100%;
    }
    .homepageone{
        width: 0;
    }
    .homepagetwo{
        width: 100%;
    }
}
@media (min-width: 426px)  and  (max-width: 500.9px){
    .homepage1{
        transition: 1s ease;
        width: 75%;
    }
    .homepage2 {
        transition: 1s;
        transform: translateX(70px);
        width: 100%;
    }
    .homepageone{
        width: 0;
    }
    .homepagetwo{
        width: 100%;
    }
}
@media (min-width: 501px)  and  (max-width: 767.9px){
    .homepage1{
        transition: 1s ease;
        width: 75%;
    }
    .homepage2 {
        transition: 1s;
        transform: translateX(70px);
        width: 100%;
    }
    .homepageone{
        width: 0;
    }
    .homepagetwo{
        width: 100%;
    }
}
@media (min-width: 768px)  and  (max-width: 1023.9px){
    .homepage1{
        transition: 1s ease;
        width: 25%;
    }
    .homepage2 {
        transition: 1s;
        width: 75%;
    }
    .homepageone{
        width: 0;
    }
    .homepagetwo{
        width: 100%;
    }
}
@media (min-width: 1024px)  and  (max-width: 1280.9px){
    .homepage1{
        transition: 1s ease;
        width: 20%;
    }
    .homepage2 {
        transition: 1s;
        width: 80%;
    }
    .homepageone{
        width: 0;
    }
    .homepagetwo{
        width: 100%;
    }
}