.la{
    background: #a8a8b7;
}
:root{
    --color:"aqua"
}

body{
    background: silver;
    height: auto;
}

#root{
    height: 100%;
}

.app-css{
    width: 100%;
    display: flex;
    transition: 1s linear;
    overflow: hidden;
    height: 100%;
    background-color: silver;
}

.display-none{
    display: none;
}

.homebody{
    width: 100%;
}

.homepage1{
    transition: 1s ease;
    width: 18%;
    background-color: white;
    }
.homepage2 {
    transition: 1s;
    width: 82%;
    }
.homepageone{
    width: 0%;
}
.homepagetwo{
    width: 100%;
}
@media screen and  (max-width: 425.9px){
    .homepage1{
        transition: 1s ease;
        width: 75%;
    }
    .homepage2 {
        transition: 1s;
        transform: translateX(70px);
        width: 100%;
    }
    .homepageone{
        width: 0;
    }
    .homepagetwo{
        width: 100%;
    }
}
@media (min-width: 426px)  and  (max-width: 500.9px){
    .homepage1{
        transition: 1s ease;
        width: 75%;
    }
    .homepage2 {
        transition: 1s;
        transform: translateX(70px);
        width: 100%;
    }
    .homepageone{
        width: 0;
    }
    .homepagetwo{
        width: 100%;
    }
}
@media (min-width: 501px)  and  (max-width: 767.9px){
    .homepage1{
        transition: 1s ease;
        width: 75%;
    }
    .homepage2 {
        transition: 1s;
        transform: translateX(70px);
        width: 100%;
    }
    .homepageone{
        width: 0;
    }
    .homepagetwo{
        width: 100%;
    }
}
@media (min-width: 768px)  and  (max-width: 1023.9px){
    .homepage1{
        transition: 1s ease;
        width: 25%;
    }
    .homepage2 {
        transition: 1s;
        width: 75%;
    }
    .homepageone{
        width: 0;
    }
    .homepagetwo{
        width: 100%;
    }
}
@media (min-width: 1024px)  and  (max-width: 1280.9px){
    .homepage1{
        transition: 1s ease;
        width: 20%;
    }
    .homepage2 {
        transition: 1s;
        width: 80%;
    }
    .homepageone{
        width: 0;
    }
    .homepagetwo{
        width: 100%;
    }
}
/*.indicator{*/
/*    position: absolute;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    background: red;*/
/*    border-radius: 50%;*/
/*}*/
/*.indicator::before{*/
/*    content: '';*/
/*    background: transparent;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    border-top-right-radius: 20px;*/
/*    box-shadow: 1px -10px 0 0 black;*/
/*}*/

/*.indicator::after{*/
/*    content: '';*/
/*    background: transparent;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right:0px;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    border-top-left-radius: 20px;*/
/*    box-shadow: 1px -10px 0 0 black;*/

/*}*/

/*.navigation div:nth-child(1) ~ .indicator{*/
/*    transform: translateX(calc(70px*0));*/
/*    transition: 0.7s;*/
/*}*/
