.la{
    background: #a8a8b7;
}
:root{
    --color:"aqua"
}

body{
    background: silver;
    height: auto;
}

#root{
    height: 100%;
}

.app-css{
    width: 100%;
    display: flex;
    transition: 1s linear;
    overflow: hidden;
    height: 100%;
    background-color: silver;
}
.active-enter-link{
    color:#0a53be;
    font-weight: bold;
}
