.rowStyleHSQ{
    justify-content: space-between;
    border-radius: 8px;
    background-color: #FFFF;
}
.textHeader{
    display: flex;
    align-items: baseline;
}
.textHeader h2{
    margin-right: 10px;
    font-size: 24px;
}
.rowStyleHSQ .izlash{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    
}
.rowStyleHSQ .izlash .izlashBox1{
    display: flex;
}

.rowStyleHSQ .izlash p{
    text-align: center;
}
.rowStyleHSQ .izlash select{
    height: 28px;
    border-radius: 4px;
    border: 1px solid #6b6363a0;
    margin-left: 4px;
}
.rowStyleHSQ .izlash button:hover{
    cursor: pointer;
    background-color: #e0dddd;
}
.rowStyleHSQ .izlash button{
    height: 28px;
    border-radius: 4px;
    border: 1px solid #6b6363a0;
    margin-left: 4px;
    background-color: #f3efef;
    font-size: 11px;
}
.rowStyleHSQ .izlash button img{
    width: 16px;
}

.rowStyleHSQ .izlash input{
    height: 28px;
    border-radius: 4px;
    border: 1px solid #6b6363a0;
    background-color: #FFFF;
    padding: 8px 0px 8px 12px;
    margin-left: 24px;
}
.rowStyleHSQ .sahifalar{
    display: flex;
    justify-content: end;
}
.rowStyleHSQ .sahifalar :first-child{
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #6b6363a0;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    -ms-border-radius: 4px 0px 0px 4px;
    -o-border-radius: 4px 0px 0px 4px;
}
.rowStyleHSQ .sahifalar button{
    border: 1px solid #6b6363a0;
    background-color: #FFFF;
    color:#1f1c1ca0;
}
.sahifalar :last-child{
  border-radius: 0px 4px 4px 0px;
  
}
@media (max-width: 425.9px){
    .rowStyleHSQ .qoshish h5{
            font-size: 17px;
     }
     .rowStyleHSQ .izlash{
            display: block;
     }
     .rowStyleHSQ .izlash .izlashBox1{
            display: grid;
            justify-content: center;
            grid-template-columns: 110px 110px;
            text-align: center;
     }
     .rowStyleHSQ .izlash .izlashBox2{
            display: flex;
            justify-content: center;
     }
     .rowStyleHSQ .izlash .izlashBox2 input{
            width: 60%;
            margin: 8px 0px 0px 4px;

     }
     .rowStyleHSQ .izlash .izlashBox1 select{
            margin-bottom: 8px;
     }
     .rowStyleHSQ .izlash .izlashBox1 button{
            line-height: 4px;
            font-size: 10px;
            margin-bottom: 8px;
     }
     .rowStyleHSQ p{
            font-size: 12px;
            line-height: 12px;
     }
     .rowStyleHSQ .qoshish h5{
            font-size: 17px;
     }
     .rowStyleHSQ .izlash{
            display: block;
     }
     .rowStyleHSQ .izlash .izlashBox1{
            display: grid;
            justify-content: center;
            grid-template-columns: 110px 110px;
            text-align: center;
     }
     .rowStyleHSQ .izlash .izlashBox2{
            display: flex;
            justify-content: center;
     }
     .rowStyleHSQ .izlash .izlashBox2 input{
            width: 60%;
            margin: 8px 0px 0px 4px;

     }
     .rowStyleHSQ .izlash .izlashBox1 select{
            margin-bottom: 8px;
     }
     .rowStyleHSQ .izlash .izlashBox1 button{
            line-height: 4px;
            font-size: 10px;
            margin-bottom: 8px;
     }
     .rowStyleHSQ p{
            font-size: 12px;
            line-height: 12px;
     }
     
}

@media (min-width: 426px) and (max-width: 768.9px){
     .rowStyleHSQ .izlash{
            display: block;
     }
     .rowStyleHSQ .izlash .izlashBox1{
            display: grid;
            justify-content: center;
            grid-template-columns: 33% 33% 33%;
            text-align: center;
     }
     .rowStyleHSQ .izlash .izlashBox2{
            display: flex;
            justify-content: center;
     }
     .rowStyleHSQ .izlash .izlashBox2 input{
            width: 70%;
            margin: 8px 0px 0px 4px;

     }
     .rowStyleHSQ .izlash .izlashBox1 button{
            line-height: 4px;
            margin-bottom: 8px;
     }
}
@media (min-width: 769px) and (max-width: 1024.9px){
     .rowStyleHSQ .izlash .izlashBox1{
            display: grid;
            grid-template-columns:36% 36% 36% ;
     }
     .rowStyleHSQ .izlash .izlashBox1 button{
            line-height: 4px;
            margin-bottom: 8px;
     }
       
}
@media (min-width: 1025px) and (max-width: 1199.9px){
     .rowStyleHSQ .izlash .izlashBox1 button{
            line-height: 4px;
     }
}