.list h6 {
    margin-left: 10px;
    cursor: pointer;
    transition: 0.2s linear;
    margin-top: 2%;

    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #3A3C40;
}

li{
    list-style: disc;
    /*border: 1px solid red;*/
    margin-top: 5px;
}
.list .imgDiv{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.list .imgDiv .right{
    margin-left: 30%;
}
.right2{
    transform: rotate(90deg);
}
.list .ul li{
    color: black;
    width: 80%;
}
.list .imgDiv img{
    margin-left: 3px;
}
.list22{
    height: 120px;
    transition: 0.3s ease;
}





/*.fff{*/
/*    transition: 1s all;*/
/*}*/
/*.fff:active{*/
/*    transition: 1s all;*/
/*    background: #0A58CA;*/
/*}*/